<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lp.v1">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yyicon"
        android:label="@string/show_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".F1Activity"></activity>

        <receiver
            android:name=".NkReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
                <!-- category android:name="android.intent.category.LAUNCHER" / -->
            </intent-filter>
        </receiver>

    </application>

</manifest>
